.form {
    display: flex;
    margin: 20px 0;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: var(--primary);
}

.form__input {
    width: 100%;
    height: 70px;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 1.2;
    resize: none;
    border: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #424242;
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease-in-out;
    &:focus {
        outline: none;
        background-color: #515151;
    }
    &::-webkit-scrollbar {
        width: 2px
    }

    &::-webkit-scrollbar-track {
        background: #ffffff9e
    }

    &::-webkit-scrollbar-thumb {
        background: #e8e7ec
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555
    }
}

.form__input::placeholder {
    color: var(--text-secondary);
}

.form__btn {
    width: 100px;
    min-width: 100px;
    border: 0;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 12px;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: rgba(255,255,255, 0.3);
    }
    &:focus {
        outline: none;
    }
}