.letter {
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;
    max-width: 80%;
}

.letter_my {
    .letter__username {
        color: #0dff00e4;
    }
}

.letter__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    min-width: 40px;
    height: 40px;
    img {
        max-width: 100%;
    }
}

.letter__username {
    color: var(--text-primary);
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
    margin-bottom: 12px;
}

.letter__date {
    font-size: 12px;
    color: var(--text-secondary);
}

.letter__text {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.2;
    color: #e0e2e5;
    display: inline-block;
}
