@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #222222;
}

:root {
  --primary: #333333;
  --text-primary: #e1e3e6;
  --text-secondary: #828282;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: relative;
}

@media screen and (max-width: 800px) {
  #root {
    min-height: -webkit-fill-available;
  }
  .app {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-height: 1000px) and (min-width: 801px) {
  
}