@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
}

:root {
  --primary: #333333;
  --text-primary: #e1e3e6;
  --text-secondary: #828282;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  max-width: 800px;
  width: 100%;
  height: 1000px;
  background-color: #222222;
  border: 1px solid var(--primary);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .app {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-height: 1000px) and (min-width: 801px) {
  .app {
    height: 800px;
    max-width: 700px;
  }
}